@model IEnumerable<Testing.Models.Cliente>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;
    }
        body{

            font-family: 'Teko', sans-serif;
            background: rgb(82,13,13);
            background: radial-gradient(circle, rgba(82,13,13,1) 0%, rgba(105,7,7,1) 53%, rgba(80,9,31,1) 100%);
        }
        .table{
            background-color: rgba(250,13,13, 0.2);
            table-layout:auto;
            max-height: 20px;
            word-break: break-word;
        }
        td{
            color:white;
            max-height: 20px;
            word-break:break-word;
            vertical-align:middle;
            text-align: center;
            width: 20px;
            border:solid 1px white;
        }
        th{
           font-size:20px;
            color:white;
            text-align:center;
            border: solid 2px white;
        }

    .searchCategory{
        width:100%;
        text-align:right;
        padding-bottom:20px;
    }
    .droplist{
        outline:none;
        color: white;
        background: rgba(92,13,13,1);
        border: solid 2px rgba(82,13,13,1);
        padding:9px;
        float:left;
    }
    button{
        width: 5%;
        padding: 10px;
        background: rgba(82,13,13,1);
        color: white;
        font-size: 17px;
        border: none;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
    }

    .textboxsearch{
        color:white;
        background: rgba(92,13,13,1);
        border: solid 2px rgba(82,13,13,1);
        outline:none;
        padding:9px;
    }
    </style>
    @using (Html.BeginForm("ClientList", "Clients", FormMethod.Get, new { @class = "searchCategory" }))
    {
    <label for="droplist" style="color:white;">Procurar: </label>
    @Html.DropDownList("filter", Html.GetEnumSelectList<InfoType>(), "Procurar por...", new {@class="droplist"})
    @Html.TextBox("search", null, new {@class="textboxsearch"})
    <button type="submit"><i class="fa fa-search"></i></button>
    
    }

        @if (Model.Count() < 1)
        {
            <h1 style="text-align:center; font-size: 10vh; color:rgba(255,255,255, 0.8);">NENHUM REGISTRO ENCONTRADO</h1>
            <a></a>
        }
        else
        {
    <table class="table" id="table">

        
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Servicos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                </tr>

            </thead>
       
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Servicos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
